[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"azure.core" = "*"
"azure.ai.formrecognizer" = "*"
"azure.storage.blob" = "*"
flask = "*"
psycopg2 = "*"
werkzeug = "*"
datetime = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"

